---
title: "Codegen Updates"
icon: "clock"
iconType: "solid"
---
CopyNumber of versions: {{ versions | length }}

{# Debug output #}
{% for version in versions %}
DEBUG Version object:
{{ version | tojson }}
---
{% endfor %}

{# Original template content #}

{% for version in versions %}
<Update label="{{ version.date }}" description="v{{ version.version }}">
  {% for commit in version.elements %}
  {% if commit.type %}{{ commit.type }}{% if commit.scope %}({{ commit.scope }}){% endif %}: {% endif %}{{ commit.subject }} ({{ commit.short_hash }})
  {% endfor %}
</Update>

{% endfor %}