* @codegen-sh/graph-sitter @codegen-team
**/skills @codegen-sh/capabilities @codegen-team @codegen-sh/capabilities
**/code_generation @codegen-sh/graph-sitter @codegen-team
**/uv.lock @codegen-sh/graph-sitter @codegen-team @renovate-approve[bot]
**/pyproject.toml @codegen-sh/graph-sitter @codegen-team @renovate-approve[bot]
**/*.yml @codegen-sh/graph-sitter @codegen-team @renovate-approve[bot]
